image {
    width: 100px;
    height: 200px;
}

.Main-image {
    width: 1200px;
    height: 600px;
}

h2 {
    position: absolute;
    top: 225px;
    left: 0px;
    width: 100%;
    color: white;

}

/*
We can add a block or border around the caption; the quesiton was a bit open ended but I believe a text block would've looked better/easier to read
But for the sake of the task and following instructions, I'll leave it be
*/


